.burger_constructor {
	display: flex;
	flex-direction: column;
	width: 600px;
	padding-bottom: 20px;
	color: var(--text-primary-color);
	font-family: 'Jet Brains Mono', serif;
}

.total_price {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: calc(var(--offset-base-size) * 10);
	margin-bottom: calc(var(--offset-base-size) * 13);
}

.price {
	margin-right: calc(var(--offset-base-size) * 10);
}
