.group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	gap: calc(var(--offset-base-size) * 6);
	padding-right: calc(var(--offset-base-size) * 4);
	padding-left: calc(var(--offset-base-size) * 4);
}

.headline {
	margin-top: calc(var(--offset-base-size) * 10);
	margin-bottom: calc(var(--offset-base-size) * 6);
}
