.modal {
	position: absolute;
	top: calc((100% - 600px) / 2);
	left: calc((100% - 720px) / 2);
	width: 640px;
	max-width: 640px;
	background-color: var(--background);
	border-radius: 40px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 36px;
}

.without-header {
	justify-content: flex-end;
}
