.profile-page {
	display: flex;
	justify-content: start;
	max-width: 1240px;
	height: calc(100vh - 88px - 160px);
	margin: auto;
	padding: 120px 16px 40px;
}

.menu {
	display: flex;
	flex-direction: column;
	max-width: 320px;
	text-wrap: wrap;
}

.menu a {
	padding: 8px 0;
	text-decoration: none;
}

.menu button {
	padding: 8px 0;
	text-align: left;
	background: none;
	border: none;
}

.menu span {
	opacity: 0.4;
}

.edit-block {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
