.list {
	padding-right: calc(var(--offset-base-size) * 2);
	overflow-y: scroll;
}

.total_price {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: calc(var(--offset-base-size) * 10);
	margin-bottom: calc(var(--offset-base-size) * 13);
}

.price {
	margin-right: calc(var(--offset-base-size) * 10);
}
