.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.nutririon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
}

.nutririon_item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--text-inactive-color);
}
